<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">
 
	<context:component-scan base-package="org.bhavnesh.google" />
 
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
 
	<bean id="dbConnectionManager" class="org.bhavnesh.google.db.DBConnectionManager" lazy-init="false"/>
	
	<bean id="aesSecurityProvider" class="org.bhavnesh.google.oauth.security.AESSecurityProvider"/>
	
	<bean id="userRegistrationController" class="org.bhavnesh.google.user.UserRegistrationController">
		<property name="dbConnectionManager" ref="dbConnectionManager"/>
	</bean>
	
	<bean id="clientRegistrationController" class="org.bhavnesh.google.client.ClientRegistrationController">
	    <property name="dbConnectionManager" ref="dbConnectionManager"/>
	    <property name="aesSecurityProvider" ref="aesSecurityProvider"/>
	</bean>
	
	<bean id="userLoginController" class="org.bhavnesh.google.user.UserLoginController">
	    <property name="dbConnectionManager" ref="dbConnectionManager"/>
	</bean>
	
	<bean id="clientLoginController" class="org.bhavnesh.google.client.ClientLoginController">
	    <property name="dbConnectionManager" ref="dbConnectionManager"/>
	</bean>
	
	<!-- <bean id="oAuthUserController" class="org.bhavnesh.google.oauth.user.OAuthUserController">
	    <property name="dbConnectionManager" ref="dbConnectionManager"/>
	</bean> -->
	
</beans>